body {
  font-family: serif;
  overflow-wrap: anywhere;
}

.section1 {
  margin-bottom: 50px;
}

.container {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.list {
  /* background-color: red; */
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.launch {
  width: 90%;
  display: flex;
  /* justify-content: space-around; */
  margin: 0 auto;
  margin-top: 30px;
}

.input {
  width: 80%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  letter-spacing: 1px;
}

.input:focus {
  outline: none;
}

.btn {
  margin-left: 30px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
}